@tailwind base;
@tailwind components;
@tailwind utilities;

.react-calendar {
  border: 0;
  border-radius: 16px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.react-calendar__tile {
  position: relative;
}

.react-calendar__month-view__days__day--weekend {
  color: #000;
}

.react-calendar__tile--now {
  font-weight: bold;
  font-size: 16px;
  text-decoration: underline;
}

abbr:where([title]) {
  text-decoration: none;
}

.custom-tile {
  background-color: rgb(197, 34, 34) !important;
  color: white !important;
}
