@tailwind base;
@tailwind components;
@tailwind utilities;

.react-calendar {
  border: 0;
  border-radius: 16px;
}

.react-calendar__tile {
  position: relative;
}

.react-calendar__month-view__days__day--weekend {
  color: #000;
}

.react-calendar__tile--now {
  background-color: rgb(187 247 208);
  color: black !important;
}

.custom-tile {
  background-color: rgb(197, 34, 34) !important;
  color: white !important;
}
